:local .Poll {
}

:local .candidates {
  display: flex;
  flex-wrap: wrap;
}

:local .Poll button {
  margin: 0 0.5em 0.5em 0;
}

:local .Poll button i {
  font-size: 0.8em;
  margin-left: 0.5em;
}

:local .submitSection {
  margin-top: 40px;
}