:local .Poll {
}

:local .error {
  color: #ff0000;
}

:local .candidates {
  display: flex;
  flex-wrap: wrap;
}

:local .Poll button {
  margin: 0 0.5em 0.5em 0;
}

:local .buttonNumber {
  color: #999;
  display: inline-block;
  margin-right: 0.4em;
}

:local .Poll button i {
  font-size: 0.8em;
  margin-left: 0.8em;
  color: #aaa;
}

:local .submitSection {
  margin-top: 40px;
}

@keyframes throbOpacity {
  0%, 100% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.6;
  }
}

:local .submitting :global {
  animation: throbOpacity 1s infinite;
  animation-timing-function: ease-in-out;
}
